/* Content First - Mobile First */
    @import url('https://fonts.googleapis.com/css2?family=Raleway');
    /* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Raleway', 'Calibri', 'Segoe ui', sans-serif;
    }
        /* Margenes */
        body,
        h1,
        h2,
        h3,
        h4,
        header p,
        .menu{
            margin: 0;
        }
        /* Bordes */
        iframe{
            border: none;
        }
        /* Rellenos */
        .menu{
            padding: 0;
        }
        /* Estilos */
        nav a,
        #footer a{
            text-decoration: none;
        }
        .menu{
            list-style: none;
        }
    /* Navegacion */
    nav{
        position: sticky;
        top:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: .5rem;
        background: linear-gradient(to right, #c26, #448)
    }
    nav a{
        color: #eee;
        font-weight: bold;
    }
    .menu a.active,
    .menu a:hover{
        color: #fff;
        text-shadow: 0 0 .5rem #eee;
    }
    .menu{
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: grid;
        align-content: space-evenly;
        text-align: center;
        background:  linear-gradient(#c26, #448);
        opacity: .85;
        transition: all .5s ease-out;
    }
    .menu.active{
        left: 0;
    }
    .btn{
        position: relative;
        z-index: 1;
        cursor: pointer;
        border: 1px solid #eee;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        color:#448;
        background-color: #eee;
    }
    .logo{
        font-weight: bold;
        text-transform: uppercase;
    }
    .menu a.active,
    .menu a:hover{
        font-weight: bold;
        text-shadow: 0 0 .5rem #eee;
    }
    /* Cabecera */
    #header{
        min-height: min(640px, 100vh);
        display: grid;
        align-content: center;
        padding: 1rem;
        text-align: center;
        font-size: min(calc(2vw + .8rem), 3rem);
        background: radial-gradient(circle at center, #eee, #ccc);
    }
    .header{
        margin: -1rem -1rem 1rem;
        padding: 1rem;
        color: #eee;
        font-size: min(calc(2vw + .5rem), 2rem);
        background:  linear-gradient(to right, #c26, #448);
    }
    /* Tabla de Contenidos */
    
    /* Contenido */

    /* Pie de Pagina */
    
    /* Mapa de Contacto */

    /* Repositorios Remotos */
    .remotes{
        display: flex;
        justify-content: center;
    }
    .remotes a{
        position: relative;
        margin: .25rem;
        border-radius: .25rem;
        padding: .5rem;
        color: #eee;
        background-color: #333;
    }
    .remotes a:hover{
        bottom: .25rem;
        background-color: #666;
        box-shadow: 0 .25rem .5rem #333;
    }
    /* Tabla Colaboradores */
    .colabs{
        margin: 1rem auto;
        border-collapse: collapse;
        color: #eee;
        background: linear-gradient(#c26, #448);
        text-align: left;
        text-shadow: 0 0 .25rem #333;
        box-shadow: -.5rem .5rem .25rem #3338;
    }
    .colabs :is(
        caption,
        th,
        td
    ){
        padding: .5rem 1rem;
    }
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #c26;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .colabs tbody tr:nth-child(odd){
        background-color: #eee3;
    }
    .colabs tbody tr:nth-child(even){
        background-color: #9993;
    }
    /* Redes sociales */
    .social {
        margin-bottom: 0; }
        
        .social li {
          display: inline-block;
          margin-right: 5px; }
          
          .social li a {
            display: block;
            width: 25px;
            height: 25px;
            text-indent: -9999px;
            background-image: url("https://oho-web.000webhostapp.com/img/social-icons.png"); }
          
          .social li.twitter a {
            background-position: 0 0; }
          
          .social li.facebook a {
            background-position: -25px 0; }
          
          .social li.google a {
            background-position: -50px 0; }
        
          .social li.github a {
            background-position: -75px 0; }
    /* Formulario de Contacto */

    /* Derechos de autor */

/* Medium Devices - Tablets */
@media screen and (min-width: 768px){
    nav .btn{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        width: auto;
        background-image: none;
        gap: .5rem;
    }
}
/* Extra Large Devices - HD Desktop */
@media screen and (min-width: 1200px){
    nav{
        justify-content: space-around;
    }
}